

  
      <p>
        <b>Name:</b><br>
        <%=editablefieldcreate("slider_name", @slider)%>
      </p>



      <p>
        <b>Is Slider Activated:</b><br>
                <%=editablecheckboxedit("slider_active", @slider, "Activate")%>
      </p>
      </br>

      <p>
        <b>Type</b><br>
        <%=editablefieldcreate("slider_type", @slider)%>
      </p>



      