

      <p>
        <b>name:</b><br>
        <%=editablefieldcreate("name", @importer)%>
      </p>



      <p>
        <b>full_file_name:</b><br>
        <%=editablefieldcreate("full_file_name", @importer)%>
      </p>



      <p>
        <b>columns:</b><br>
        <%=editablefieldcreate("columns", @importer)%>
      </p>



      <p>
        <b>table_name:</b><br>
        <%=editablefieldcreate("table_name", @importer)%>
      </p>


      