

      <p>
        <b>user_id:</b><br>
        <%=editablefieldcreate("user_id", @order)%>
      </p>



      <p>
        <b>credit_card_type:</b><br>
        <%=editablefieldcreate("credit_card_type", @order)%>
      </p>



      <p>
        <b>credit_card_expires:</b><br>
        <%=editablefieldcreate("credit_card_expires", @order)%>
      </p>



      <p>
        <b>ip_address:</b><br>
        <%=editablefieldcreate("ip_address", @order)%>
      </p>


      