
    var notice = '<div class="notice">'
      + '<div class="notice-body">'
         + '<h3> <img src="/images/interface/info.png" />'
         + 'Attention</h3>'
         + '<p><%=params[:notice]%></p>'
      + '</div>'
      + '<div class="notice-bottom">'
      + '</div>'
    + '</div>';
    
    $j( notice ).purr();
