
    <table width="100">
      <tr> <td class="item-price-info">(<%=@checkout_cart_item.quantity %>&times;<%= number_to_currency(@checkout_cart_item.product.msrp) %>)</td></tr>
      <tr><td></td></tr>
      <tr> <td class="item-price"><%=number_to_currency(@checkout_cart_item.price) %></td></tr>
    </table>