<div id="web-service-id" class="hidden-item"><%=@current_importer%></div>
<%= select_tag(@current_importer, options_for_select(@importers.collect{|item| [item.name, item.id]}, @current_importer),:id=>"web-service-name", :include_blank=>"Select or New-->")%> 