<p>
  <b>Full URI to Web Service:</b><br>
  <%=editablefieldcreate("full_uri_path", @importer)%>
</p> 
<p>
  <b>Login:</b><br>
  <%=editablefieldcreate("login_id", @importer)%>
</p>

<p>
  <b>Password(encrypted):</b><br>
  <%=editablefieldcreate("password", @importer)%>
</p>
